/*  your css code here. If applicable */
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex; /* or block */
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background: linear-gradient(135deg, #f0f0f0, #d9d9d9);
    color: #333;
  }

#initial-container{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    color: #333;
   

}

#input-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
}

#submit{
    margin-top: 10px;
    width: auto;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
}
